{% load rules %}

<html>
    <head>
        <title>{% block title %}Master title{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="https://apps.fedoraproject.org/bootstrap-3.1.1-fedora/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://apps.fedoraproject.org/bootstrap-3.1.1-fedora/css/bootstrap-theme.min.css">
        <script defer src="https://apps.fedoraproject.org/bootstrap-3.1.1-fedora/js/bootstrap.min.js"></script>
    </head>
    <body>
    <nav class="navbar navbar-default navbar-pf" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <!--<img src="/media/network-wired.svg" alt="Sample Image" />-->Zezere
            </a>
        </div>
      <div class="collapse navbar-collapse navbar-collapse-1">
        <ul class="nav navbar-nav navbar-utility">
          <li class="dropdown">
            <button class="btn btn-link nav-item-iconic" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span title="Help" class="fa pficon-help dropdown-title"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#0">Help</a></li>
              <li><a href="#0">About</a></li>
            </ul>
          </li>
        {% if user.is_authenticated %}
          <li class="dropdown">
            <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
              <span class="pficon pficon-user"></span>
              <span class="dropdown-title">
                {{ user.get_username }}<b class="caret"></b>
              </span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a href="/accounts/logout">Logout</a>
              </li>
            </ul>
          </li>
        {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-primary">
        {% if user.is_authenticated %}
            <li class="active">
              <a href="/portal" class="active">Home</a>
            </li>
            <li>
              <a href="/portal/claim">Claim Unowned Devices</a>
            </li>
            <li>
              <a href="/portal/sshkeys">SSH Key Management</a>
            </li>
            <li>
              <a href="/portal/devices">Device Management</a>
            </li>
        {% else %}
            <li>
              <a href="/accounts/login">Log In</a>
            </li>
        {% endif %}
        </ul>
      </div>
    </nav>

    <div class="container">
        {% block content %}
        Master content
        {% endblock %}
    </div>

      <div class="footer pt-4 text-white">
        <div class="container">
          <div class="d-flex align-items-center">
            <p>&copy; 2020 Copyright Information Goes Here</p>
          </div>
        </div>
      </div>
    </body>
</html>
